@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP&family=Roboto&display=swap');
body {
	background-color : transparent;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	background-color: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem;
	position: sticky;
	top: 0;
}
.logo{
	font-family: 'Lobster', cursive;
	font-size: 2rem;	
}
.c1{
	color: #00ADF3;
}
.c2{
	color: #7FFFD4;
}
.c3{
	color: #7FFF00;
}
.c4{
	color: #FFA07A;
}
.c5{
	color: #FF4500;
}
.c6{
	color: #008080;
}

p{
	text-align:center;
	background-color: #00ADF3;
	color: Black;
	width:60%;
	margin:auto;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1rem;	
	border:20px crimson;
	padding:2rem;
	border-radius:5rem;
}
.w3-col{
	text-align:center;
	padding:8px;
	display:flex;
}
.innerbox{
	padding:2rem;
	border-radius:5rem;
	font-family: 'Roboto', sans-serif;
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center, space-between;
	text-align:center;
	margin-left: 2rem;
}
.form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
::placeholder{
	font-size: 1.2rem;
	padding-left: 2rem;
}
input{
	height: 3rem;
	width: 10rem;
	border: 3px solid #00ADF3;
	display: inline;
	/*align-items: center;*/
	margin-bottom: 1.3rem;
	margin-right: 5rem;
	border-radius: 5rem;

}
	
